<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.2p.example</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Perfect Engage Dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Perfect Engage</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DTXApplicationIDTestRaadTesr</key>
	<string>54d7b357-cc84-4df2-9fb6-bf742ad0c83d</string>
	<key>DTXBeaconURLTestRaadTesr</key>
	<string>https://bf86706fvl.bf.dynatrace.com/mbeacon</string>
	<key>DTXUserOptIn</key>
	<false/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>ee2d419eeb6135c4e7a32a2ab360f8a5fcaf12bf</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>telprompt</string>
		<string>tel</string>
		<string>fbauth2</string>
		<string>fbauth</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>fb-messenger</string>
		<string>fb-messenger-share-api</string>
		<string>whatsapp</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
		<string>fb</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://95.129.12.37</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>swccconnect.perfect-engage.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>swccturnserver.perfect-engage.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppTransportSecurity - 2</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>swcc-connect.2p.com.sa</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>New item</key>
				<string></string>
			</dict>
			<key>swccturnserver.perfect-engage.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This lets you send Voice Messages and recorded audios.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This lets you add events and some calendar events.</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take photos and videos right from within Raad</string>
	<key>NSContactsUsageDescription</key>
	<string>Upload your contacts to Scimbo's servers to help you quickly get in touch with your friends and help us provide a better experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This lets you send your current location or nearby place.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This lets you send your current location or nearby place.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you make calls, send Voice Messages, and record videos with sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you send photos and videos from your library and save the ones you capture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you send photos and videos from your library and save the ones you capture.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This lets you recognise your speech to text.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$(PRODUCT_BUNDLE_IDENTIFIER)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Privacy</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextLTProRegular.ttf</string>
		<string>AvenirNextLTProDemi.ttf</string>
		<string>Avenir-Next-LT-Pro-Bold_5182.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Norican-Regular.ttf</string>
		<string>Bryndan-Write.ttf</string>
		<string>Oswald-Heavy.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>gad_preferred_webview</key>
	<string>wkwebview</string>
</dict>
</plist>
